@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  max-width: 1920px;
  overflow: hidden;
  min-width: 100%;
  position: relative;
  background: #FFFFFF;
  padding-left: auto;
  padding-right: auto;
}

.block {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

.label {
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  font-weight: 700;
  color: #1E212C;
}

.text {
  font-family: "Ubuntu";
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: #787A80;
  vertical-align: top;
}

.header {
  padding: 20px 0px 20px -38px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.header__logo {
  cursor: pointer;
}
.header__row {
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 0px 41px;
  width: 447px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.header__column {
  cursor: pointer;
}
.header__label {
  font-family: "Ubuntu";
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
  font-style: normal;
  color: #424551;
  text-align: left;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 48px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 421px;
  margin-left: 9.375vw;
}
.header__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 175px;
  margin-right: 38px;
}
.header__description {
  font-family: "Ubuntu", sans-serif;
  line-height: 150%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #424551;
}
.header__contacts {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  text-align: center;
  color: #424551;
}
.header__contactlogo {
  margin-right: 20px;
}

.about {
  width: auto;
  height: 988px;
  background: url("../images/slider-bg.png") 50% 50%/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 32px;
}
.about__row {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 724px;
          flex: 0 1 724px;
}
.about__label {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 1px;
  line-height: 130%;
  text-align: left;
  vertical-align: top;
  color: #FFFFFF;
}
.about__text {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  vertical-align: top;
  color: #FFFFFF;
  margin-bottom: 69px;
}
.about__learn {
  display: inline-block;
  width: 278px;
  height: 52px;
  border: solid 1px #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;
  margin-right: 24px;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.about__learn:active {
  background-color: rgba(0, 0, 0, 0.1);
}
.about__learn:hover {
  -webkit-box-shadow: -5px 6px 15px #424551;
          box-shadow: -5px 6px 15px #424551;
}
.about__submit {
  display: inline-block;
  width: 224px;
  height: 52px;
  background-color: #FF5A30;
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.about__submit:active {
  background-color: color-mix(in oklab, #FF5A30, #000000 20%);
}
.about__submit:hover {
  -webkit-box-shadow: -5px 6px 15px #424551;
          box-shadow: -5px 6px 15px #424551;
}
.about__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0 4px;
  margin-top: 179px;
}
.about__slide {
  width: 178px;
  height: 54px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
  padding-top: 11px;
}
.about__slide_active {
  border-bottom: 2px solid #FFFFFF;
}
.about__number {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 28px;
}
.about__number_active {
  color: #FFFFFF;
}
.about__arrow {
  border-radius: 50%;
  cursor: pointer;
}
.about__arrow circle {
  opacity: 0.5;
}
.about__arrow:hover circle {
  opacity: 1;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 120px;
  margin-bottom: 180px;
}
.video__header {
  margin-bottom: 24px;
}
.video__label {
  text-align: center;
}
.video__text {
  vertical-align: top;
  margin-bottom: 60px;
}
.video__player {
  border-radius: 4px;
  width: 1230px;
  height: 500px;
  background: url("../images/builders.png") 0 0/100% 100% no-repeat;
}
.video__preview {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(30, 33, 44, 0.6);
  border-radius: 4px;
}
.video__play {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: auto;
  margin-left: 503px;
  cursor: pointer;
}
.video__volume {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 32px 32px;
  cursor: pointer;
}

.values {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  margin-bottom: 28px;
}
.values__header {
  margin-bottom: 24px;
}
.values__label {
  line-height: 130%;
}
.values__text {
  margin-bottom: 60px;
}
.values__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 4.895833vw;
  max-width: 1231px;
}
.values__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.values__icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}
.values__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
  margin-bottom: 8px;
}
.values__description {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
  vertical-align: top;
  color: #787A80;
}

.question {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  border-radius: 4px;
  padding: 48px 0;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  position: relative;
  top: 92px;
  z-index: 8;
}
.question__header {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
  color: #1E212C;
}
.question__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px 24px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.question__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.question__column:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 414px;
          flex: 0 1 414px;
}
.question__column:not(:nth-child(3)) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 260px;
          flex: 0 1 260px;
}
.question__label {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  vertical-align: top;
  color: #424551;
  display: inline-block;
  margin-bottom: 8px;
}
.question__input {
  display: inline-block;
  height: 44px;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  vertical-align: top;
  color: #424551;
}
.question__input::-webkit-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  vertical-align: top;
  color: #9A9CA5;
}
.question__input::-moz-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  vertical-align: top;
  color: #9A9CA5;
}
.question__input:-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  vertical-align: top;
  color: #9A9CA5;
}
.question__input::-ms-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  vertical-align: top;
  color: #9A9CA5;
}
.question__input::placeholder {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  vertical-align: top;
  color: #9A9CA5;
}
.question__input:focus {
  border: 1px solid rgba(255, 90, 48, 0.4);
}
.question__send {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 104px;
          flex: 0 0 104px;
}
.question__button {
  display: inline-block;
  background-color: #FF5A30;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  width: 104px;
  border-radius: 4px;
  cursor: pointer;
}
.question__form {
  margin-top: 32px;
}

.services {
  background: url("../images/background.png") 0 0/100% 100% no-repeat;
  padding-top: 212px;
  padding-bottom: 80px;
  position: relative;
  z-index: 3;
}
.services__header {
  margin-bottom: 24px;
}
.services__text {
  margin-bottom: 60px;
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}
.services__item {
  width: 285px;
  height: 285px;
  background: #FFFFFF;
  border: 2px solid #E5E8ED;
  border-radius: 4px;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  padding-top: 89px;
  padding-bottom: 90px;
  -webkit-transition: background-image 0.6s ease-out;
  transition: background-image 0.6s ease-out;
  cursor: pointer;
}
.services__item:nth-child(3):hover {
  background-image: url("../images/dark-background.png"), url("../images/interior.png");
  border: none;
}
.services__item:nth-child(3):hover .services__name {
  color: #FFFFFF;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
.services__item:nth-child(3):hover .services__icon path {
  fill: #FFFFFF;
  -webkit-transition: fill 0.2s ease-out;
  transition: fill 0.2s ease-out;
}
.services__icon {
  margin-left: auto;
  margin-right: auto;
  width: 52px;
  height: 52px;
  margin-bottom: 24px;
}
.services__name {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  vertical-align: top;
  color: #1E212C;
}
.services__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 40px;
}
.services__learn-more {
  font-family: "Ubuntu";
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
  text-align: left;
  color: #1E212C;
}
.services__view-button {
  display: inline-block;
  background-color: #FF5A30;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  width: 207px;
  border-radius: 4px;
  cursor: pointer;
}