@import "nullstyle.scss";
//@import "normalize.scss";


.wrapper {
   max-width: 1920px;
   overflow: hidden;
   min-width: 100%;
   position: relative;
   background: #FFFFFF;
   padding-left: auto;
   padding-right: auto;
}

.block {
   max-width: 1230px;
}

.header {
   padding: 20px 0px 20px -38px;
   height: 92px;
   display: flex;
   align-items: center;
   margin-right: auto;
   margin-left: auto;
   
   &__row {
      margin-left: 60px;
      display: flex;
      flex-flow: column wrap;
      gap: 0px 41px;
      width: 447px;
      height: 50px;
      justify-content: center;
      flex: 1 0 auto;
   }

   &__label {
      font-family: "Ubuntu";
      font-size: 16px;
      line-height: 160%;
      font-weight: 700;
      font-style: normal;
      color: #424551;
      text-align: left;
   }
   
   &__contacts {
      display: flex;
      max-height: 48px;
      justify-content: space-around;
      width: 421px;
      margin-left: 9.375vw;
   }

   &__aside {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      min-width: 175px;
      margin-right: 38px;
   }

   &__description {
      font-family: "Ubuntu", sans-serif;
      line-height: 150%;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      color: #424551;
   }

   &__contacts {
      font-family: "Ubuntu", sans-serif;
      font-size: 18px;
      line-height: 150%;
      font-weight: 400;
      text-align: center;
      color: #424551;
   }

   &__contactlogo {
      margin-right: 20px;
   }
}

.about {
   width: auto;
   height: 988px;
   background: url("../images/slider-bg.png") 50% 50%/cover no-repeat;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 32px;

   &__row {
      flex: 0 1 724px;
   }

   &__label {
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      font-size: 72px;
      letter-spacing: 1px;
      line-height: 130%;
      text-align: left;
      vertical-align: top;
      color: #FFFFFF;
   }

   &__text {
      font-family: "Ubuntu", sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 150%;
      vertical-align: top;
      color: #FFFFFF;
      margin-bottom: 69px;
   }
   
   &__learn {
      display: inline-block;
      width: 278px;
      height: 52px;
      border: solid 1px #FFFFFF;
      background-color: rgba($color: #000000, $alpha: 0);
      border-radius: 4px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.5px;
      line-height: 52px;
      text-align: center;
      color: #FFFFFF;
      margin-right: 24px;
   }
   
   &__submit {
      display: inline-block;
      width: 224px;
      height: 52px;
      background-color: #FF5A30;
      border-radius: 4px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.5px;
      line-height: 52px;
      text-align: center;
      color: #FFFFFF;
   }

   &__slider {
      display: flex;
      align-items: flex-end;
      padding-right: -4px;
      margin-top: 179px;
   }

   &__slide {
      width: 178px;
      height: 54px;
      border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.3);
      background-color: rgba($color: #ffffff, $alpha: 0);
      border-radius: 2px;
      margin-right: 4px;
      padding-top: 11px;
      &_active {
         border-bottom: 2px solid #FFFFFF;
      }
   }

   &__number {
      color: rgba($color: #FFFFFF, $alpha: 0.6);
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      font-size: 28px;
      &_active {
         color: #FFFFFF;
      }
   }

   &__arrow {
      border-radius: 50%;
      cursor: pointer;
      circle {
         opacity: 0.5;
      }
      &:hover {
         circle {
            opacity: 1;
         }
      }
   }
}

.video {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   padding-top: 120px;
   margin-bottom: 180px;
   &__header {
      margin-bottom: 24px;
   }

   &__label {
      text-align: center;
   }

   &__text {
      vertical-align: top;
      margin-bottom: 60px;
   }

   &__player {
      width: 1230px;
      height: 500px;
      background: url("../images/builders.png") 0 0/100% 100% no-repeat;
   }

   &__preview {
      width: 100%;
      height: 100%;
      display: flex;
      background-color: rgba($color: #1E212C, $alpha: 0.6);
   }

   &__play {
      justify-self: center;
      align-self: center;
      margin-right: auto;
      margin-left: calc(1230px / 2 - 112px);
   }

   &__volume {
      align-self: flex-end;
      margin: 0 0 32px 32px;
   }
}

.label {
   font-family: "Ubuntu", sans-serif;
   font-size: 46px;
   line-height: 130%;
   text-align: center;
   font-weight: 700;
   color: #1E212C;
}

.text {
   font-family: "Ubuntu";
   font-size: 18px;
   font-weight: 400;
   line-height: 150%;
   text-align: center;
   color: #787A80;
   vertical-align: top;
}